# Created by .ignore support plugin (hsz.mobi)
vikingmute-react-book/chapter3/3.3/node_modules
vikingmute-react-book/chapter3/3.4/node_modules
vikingmute-react-book/chapter4/4.1/node_modules
vikingmute-react-book/chapter5/5.1/node_modules
vikingmute-react-book/chapter5/5.2/node_modules
dist/*.*
.idea
